*{
    margin: 0;
    padding: 0;
}

.profiles{
width: 100%;
display: flex;
flex-wrap: wrap;
justify-content: center;
align-items: center;
gap: 20px;
}

.profile{
width: 30%;
}

.profile img{
    width: 100%;
}